* {
margin:0 auto;
box-sizing:border box;
text-decoration: none;
}

body {
background-image: url(https://photobooth.cdn.sports.ru/preset/message/c/ab/d5ee1bf48469fbf9bbb061823f1db.png);
}

.div1 {
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX8BpDEmR-JFXUd1A0mL2p-XFhii7Dhk9ibg&s);
display: flex;
align-items: center;
justify-content: center;
width: 500px;
height: 500px;
border-radius: 500px;
margin-top:100px;
}


.div2 {
background: rgb(217, 202, 202);
width: 300px;
height: 300px;
border-radius: 300px;
display: flex;
align-items: center;
justify-content: center;
}


.button {
border-radius: 10px;
padding: 10px;
background: rgba(145, 163, 255, 0.836);
}